.footer-page .container-1 {
  height: 100%;
  width: 20%;
  /* background-color: violet; */
  margin-left: 1%;
  display: flex;
  align-items: center;
}

.footer-page .container-1 .img {
  height: 90%;
  width: 17%;
  /* background-color: aqua; */
  background-image: url(assets/images/play\ song.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.footer-page .container-1 .content {
  height: 75%;
  width: 50%;
  /* background-color: yellow; */
  margin: 0 3%;
  display: flex;
  flex-direction: column;
  color: white;
}

.footer-page .container-1 .content .content-1 {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.footer-page .container-1 .content .content-2 {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  color: var(--light-dark-text-color);
}

.footer-page .container-1 .add {
  height: 50%;
  width: 10%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-page .container-1 .add svg {
  height: 17px;
  width: 17px;
  filter: invert(1);
  fill: purple;
}

.footer-page .container-2 {
  height: 100%;
  width: 35%;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
}

.footer-page .container-2 .upper {
  height: 60%;
  width: 100%;
  /* background-color: antiquewhite; */
  display: flex;
  align-items: center;
  margin-bottom: 1%;
}

.footer-page .container-2 .upper .start {
  height: 100%;
  min-width: 45%;
  /* background-color: lightslategray; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-page .container-2 .upper .start .first {
  /* padding: 15px; */
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* background-color: lightgreen; */
}

.container-2 .upper .start .first svg {
  height: 20px;
  width: 20px;
  filter: invert(1);
  opacity: 0.7;
  transition: var(--trans-02);
}
.footer-page .container-2 .upper .start .second {
  /* padding: 15px; */
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* background-color: lightgreen; */
}

.container-2 .upper .start .second svg {
  height: 20px;
  width: 20px;
  filter: invert(1);
  opacity: 0.7;
  transition: var(--trans-02);
}

.footer-page .container-2 .upper .end {
  height: 100%;
  min-width: 45%;
  /* background-color: lightsalmon; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-page .container-2 .upper .end .first {
  /* padding: 15px; */
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* background-color: lightgreen; */
}

.container-2 .upper .end .first svg {
  height: 20px;
  width: 20px;
  filter: invert(1);
  opacity: 0.7;
  transition: var(--trans-02);
}
.footer-page .container-2 .upper .end .second {
  /* padding: 15px; */
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* background-color: lightgreen; */
}

.container-2 .upper .end .second svg {
  height: 20px;
  width: 20px;
  filter: invert(1);
  opacity: 0.7;
  transition: var(--trans-02);
}

.container-2 .upper .start .first .music-control-glow:hover,
.container-2 .upper .start .second .music-control-glow:hover,
.container-2 .upper .end .first .music-control-glow:hover,
.container-2 .upper .end .second .music-control-glow:hover {
  transform: scale(1.05);
  opacity: 1;
}

/* .footer .container-2 .upper .start .first:hover {
    background-color: var(--button-hover-color);
} */

.footer-page .container-2 .upper .mid {
  height: 35px;
  width: 35px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  border-radius: 50%;
}

.footer-page .container-2 .upper .mid:hover {
  background-color: var(--light-text-color);
  transform: scale(1.1);
}

.footer-page .container-2 .upper .mid svg {
  height: 17px;
  width: 17px;
}

.footer-page .container-2 .lower {
  height: 30%;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-page .container-2 .lower .progress-container {
  height: 5px;
  width: 80%;
  background-color: var(--button-hover-color);
  border-radius: 25px;
  cursor: pointer;
  position: relative;
}

.footer-page .container-2 .lower .progress-bar {
  height: 100%;
  width: 0%;
  background-color: var(--light-text-color);
  border-radius: 25px;
  transition: width 0.1s linear;
}

.display-none {
  display: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-page .container-2 .lower .current {
  height: 100%;
  width: 10%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.footer-page .container-2 .lower .duration {
  height: 100%;
  width: 10%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.footer-page .container-3 {
  height: 100%;
  width: 25%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-page .container-3 > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
}

.footer-page .container-3 .volume-control {
  width: 35%;
  height: 30px;
}

.footer-page .container-3 .volume-control .speaker {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
}

.footer-page .container-3 .volume-control .bar{
  background-color: white;
  height: 5px;
  width: 100%;
  border-radius: 3px;
}

.footer-page .container-3 > div svg {
  fill: white;
  color: white;
  height: 17px;
  width: 17px;
  opacity: 0.8;
}

.footer-page .container-3 > div:hover svg {
  opacity: 1;
}


/* volume control */


.volume-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 160px;
}

#volume-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
  background: #333;
  border-radius: 2px;
  outline: none;
  transition: background 0.3s ease;
}

#volume-slider::-webkit-slider-runnable-track {
  height: 4px;
  background: linear-gradient(to right, #1db954 var(--volume-progress, 100%), #333 var(--volume-progress, 100%));
  border-radius: 2px;
}

#volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #1db954;
  border-radius: 50%;
  margin-top: -4px;
  cursor: pointer;
  transition: transform 0.1s ease, background 0.2s ease;
}

#volume-slider::-webkit-slider-thumb:hover {
  transform: scale(1.2);
  background: #1ed760; 
}

#mute-btn {
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  transition: color 0.3s ease;
}

#mute-btn:hover {
  color: #1db954;
}