.section-2 .page-2 {
  height: 100%;
  width: 100%;
}

.section-2 .header-container2 {
  height: 33%;
  /* background-color: #cfcfcf; */
  padding: 0 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-2 .page-2 .header-container2 .img {
  height: 90%;
  width: 27%;
  background-color: aqua;
  margin-right: 2%;
  background-image: url(../assets/images/liked.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
}

.section-2 .header-container2 .content {
  height: 80%;
  width: 70%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: white;
  position: relative;
  z-index: 2;
}

.section-2 .header-container2 .content span {
  height: 15%;
  width: 100%;
  font-size: 17px;
}

.section-2 .header-container2 .content h1 {
  height: 60%;
  font-size: 85px;
}

.section-2 .header-container2 .content div {
  height: 10%;
}

.section-2 .header-container2 .content div > :nth-child(2) {
  color: var(--dark-text-color);
  font-size: 15px;
}

.section-2 .page-2 .header-container2 .bg {
  height: 40%;
  width: 100%;
  background: linear-gradient(180deg, #3754ac, #111111);
  position: absolute;
  border-radius: 15px;
  z-index: 1;
}

.section-2 .header-function {
  height: 12%;
  padding: 0 2%;
  /* background-color: #1f3062; */
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.section-2 .header-function .left {
  height: 100%;
  width: 30%;
  /* background-color: #aeaeae; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-2 .header-function .left .play-pause {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgb(0, 200, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-2 .header-function .left .play-pause:hover {
  transform: scale(1.05);
}

.section-2 .header-function .left .play-pause svg {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  color: black;
}

.section-2 .header-function .left .play-pause:hover svg,
.section-2 .header-function .left .download:hover svg,
.section-2 .header-function .left .invite:hover svg,
.section-2 .header-function .left .options:hover svg {
  opacity: 0.9;
}

.section-2 .header-function .left .download svg {
  height: 32px;
  width: 32px;
  filter: invert(1);
  opacity: 0.6;
  transition: var(--trans-02);
}

.section-2 .header-function .left .invite svg {
  height: 32px;
  width: 32px;
  filter: invert(1);
  opacity: 0.6;
  transition: var(--trans-02);
}

.section-2 .header-function .left .options svg {
  height: 32px;
  width: 32px;
  filter: invert(1);
  opacity: 0.6;
  transition: var(--trans-02);
}

.section-2 .header-function .right {
  height: 100%;
  width: 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--light-text-color);
  opacity: 0.6;
  transition: var(--trans-02);
}
.section-2 .header-function .right svg {
  height: 22px;
  width: 22px;
  filter: invert(1);
}

.section-2 .header-function .right:hover {
  opacity: 0.9;
}

.section-2 .header-row {
  height: 10%;
  display: flex;
  align-items: center;
  padding: 2%;
  /* background-color: brown; */
  color: white;
  position: relative;
  z-index: 2;
}

.section-2 .header-row .hash {
  height: 100%;
  width: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(42, 165, 73); */
}
.section-2 .header-row .title {
  height: 100%;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: start;
  /* background-color: rgb(65, 42, 165); */
}

.section-2 .header-row .album {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: start;
  /* background-color: rgb(157, 165, 42); */
}

.section-2 .header-row .added-date {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: start;
  /* background-color: rgb(42, 128, 165); */
}

.section-2 .header-row .duration {
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: start;
  /* background-color: rgb(116, 42, 165); */
}

.section-2 .header-row .duration svg {
  height: 20px;
  width: 20px;
  filter: invert(1);
}

.section-2 .line {
  height: 0.3px;
  width: 90%;
  background-color: var(--button-hover-color);
  border-radius: 5px;
  margin-left: 3%;
}

.section-2 .songs-container {
  height: max-content;
  width: 96%;
  /* background-color: chartreuse; */
  color: white;
  margin: 2%;
}

.section-2 .songs-container > div {
  height: 7vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1%;
  transition: var(--trans-02);
  border-radius: 5px;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.section-2 .songs-container > div > div:nth-child(1) {
  height: 100%;
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-2 .songs-container > div > div:nth-child(2) {
  height: 100%;
  width: 5%;
  /* background-image: url(covers/song1.jpeg); */
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.section-2 .songs-container > div > div:nth-child(3) {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 3%;
}

.section-2 .songs-container > div > div:nth-child(3) .song-name {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.section-2 .songs-container > div > div:nth-child(3) .song-artist {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.section-2 .songs-container > div > div:nth-child(4) {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: start;
  color: var(--dark-text-color);
}

.section-2 .songs-container > div > div:nth-child(5) {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: start;
  color: var(--dark-text-color);
}

.section-2 .songs-container > div > div:nth-child(6) {
  height: 100%;
  width: 13%;
  display: flex;
  align-items: center;
  justify-content: start;
  color: var(--dark-text-color);
}

.section-2 .songs-container > div:hover {
  background-color: rgba(63, 63, 63, 0.493);
}
