.section-2 .page-2 {
  height: 100%;
  width: 100%;
}

.section-2 .page-2 .header-container2 .img {
  height: 90%;
  width: 25%;
  /* background-color: aqua; */
  margin-right: 2%;
  background-image: url(assets/images/p2.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
}

.section-2 .header-container2 .content h1 {
  height: 60%;
  font-size: 77px;
}

.section-2 .page-2 .header-container2 .bg {
  height: 27%;
  width: 54%;
  background: linear-gradient(180deg, #cccf13, #111111);
  position: absolute;
  border-radius: 15px;
  z-index: 1;
}
