.section-2 .page-2 {
  height: 100%;
  width: 100%;
}

.section-2 .page-2 .header-container2 .img {
  height: 90%;
  width: 25%;
  /* background-color: aqua; */
  margin-right: 2%;
  background-image: url(assets/images/chill\ and\ relax.webp);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
}

.section-2 .header-container2 .content h1 {
  height: 60%;
  font-size: 77px;
}

.section-2 .page-2 .header-container2 .bg {
  height: 40%;
  width: 100%;
  background: linear-gradient(180deg, #bbbd1c, #111111);
  position: absolute;
  border-radius: 15px;
  z-index: 1;
}