.section-2 .page-1-phone {
  height: 100%;
  width: 100%;
}

.section-2 .phone-header-container2 {
  height: 25%;
  /* background-color: #cfcfcf; */
  padding: 0 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-2 .page-1-phone .phone-header-container2 .img {
  height: 80%;
  width: 45%;
  /* background-color: aqua; */
  margin-right: 2%;
  background-image: url(assets/images/p1.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
}

.section-2 .phone-header-container2 .content {
  height: 80%;
  width: 55%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  position: relative;
  z-index: 2;
}

.section-2 .phone-header-container2 .content span {
  height: 15%;
  width: 100%;
  font-size: 13px;
}

.section-2 .phone-header-container2 .content h1 {
  height: 30%;
  font-size: 25px;
}

.section-2 .phone-header-container2 .content div {
  height: 15%;
}

.section-2 .phone-header-container2 .content div > :nth-child(2) {
  color: var(--dark-text-color);
  font-size: 13px;
}

.section-2 .page-1-phone .phone-header-container2 .bg {
  height: 40%;
  width: 100%;
  background: linear-gradient(180deg, #3754ac, #111111);
  position: absolute;
  border-radius: 15px;
  z-index: 1;
  top: 0;
}

.section-2 .phone-header-function {
  height: 10%;
  padding: 0 2%;
  /* background-color: #1f3062; */
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.section-2 .phone-header-function .left {
  height: 100%;
  width: 45%;
  /* background-color: #aeaeae; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-2 .phone-header-function .left .play-pause {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(0, 200, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-2 .phone-header-function .left .play-pause:hover {
  transform: scale(1.05);
}

.section-2 .phone-header-function .left .play-pause svg:nth-child(1) {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  color: black;
}

.section-2 .phone-header-function .left .play-pause svg:nth-child(2) {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  color: black;
}

.section-2 .phone-header-function .left > div:hover svg {
  opacity: 0.9;
}

.section-2 .phone-header-function .left .download svg {
  height: 20px;
  width: 20px;
  filter: invert(1);
  opacity: 0.6;
  transition: var(--trans-02);
}

.section-2 .phone-header-function .left .invite svg {
  height: 20px;
  width: 20px;
  filter: invert(1);
  opacity: 0.6;
  transition: var(--trans-02);
}

.section-2 .phone-header-function .left .options svg {
  height: 20px;
  width: 20px;
  filter: invert(1);
  opacity: 0.6;
  transition: var(--trans-02);
}

.section-2 .phone-header-function .right {
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--light-text-color);
  opacity: 0.6;
  transition: var(--trans-02);
}
.section-2 .phone-header-function .right svg {
  height: 12px;
  width: 12px;
  filter: invert(1);
}

.section-2 .phone-header-function .right:hover {
  opacity: 0.9;
}

.section-2 .phone-header-row {
  height: 10%;
  display: flex;
  align-items: center;
  padding: 2%;
  justify-content: space-between;
  /* background-color: brown; */
  color: white;
  position: relative;
  z-index: 2;
  font-size: 13px;
}

.section-2 .phone-header-row .songs {
  display: flex;
  flex-direction: row;
}

.section-2 .phone-header-row .songs .hash {
  height: 100%;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  /* background-color: rgb(42, 165, 73); */
}
.section-2 .phone-header-row .songs .title {
  height: 100%;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  /* background-color: rgb(65, 42, 165); */
}

/*.section-2 .phone-header-row .album {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: rgb(157, 165, 42);
} */

/* .section-2 .phone-header-row .added-date {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: rgb(42, 128, 165);
} */

.section-2 .phone-header-row .duration {
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(116, 42, 165); */
}

.section-2 .phone-header-row .duration svg {
  height: 17px;
  width: 17px;
  filter: invert(1);
}

.section-2 .line {
  height: 0.3px;
  width: 90%;
  background-color: var(--button-hover-color);
  border-radius: 5px;
  margin-left: 3%;
}

.section-2 .phone-songs-container {
  height: max-content;
  width: 96%;
  /* background-color: chartreuse; */
  color: white;
  margin: 2%;
  font-size: 10px;
}

.section-2 .phone-songs-container > div {
  height: 8vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 3%;
  font-size: 12px;
  transition: var(--trans-02);
  border-radius: 5px;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.section-2 .phone-songs-container > div > div:nth-child(1) {
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.section-2 .phone-songs-container > div > div:nth-child(2) {
  height: 80%;
  width: 15%;
  /* background-image: url(covers/song1.jpeg); */
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.section-2 .phone-songs-container > div > div:nth-child(3) {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 3%;
  /* overflow: hidden;
  white-space: nowrap;
  position: relative; */
}

.section-2 .phone-songs-container > div > div:nth-child(3) .song-name {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  /* display: inline-block; */
  /* padding-left: 50%; */
  /* animation: scrollText 5s linear infinite; */
}

.section-2 .phone-songs-container > div > div:nth-child(3) .song-artist {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

/* .section-2 .phone-songs-container > div > div:nth-child(4) {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 3%;
  font-size: 10px;
  color: var(--dark-text-color);
} */

/* .section-2 .phone-songs-container > div > div:nth-child(5) {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 3%;
  font-size: 10px;
  color: var(--dark-text-color);
} */

.section-2 .phone-songs-container > div > div:nth-child(4) {
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: var(--dark-text-color);
}

.section-2 .phone-songs-container > div:hover {
  background-color: rgba(63, 63, 63, 0.493);
}

