.section-2 .homePage-phone {
  height: 75vh;
}

.section-2 .phone-header-container {
  height: 45%;
  /* width: 100%; */
  /* background: linear-gradient(180deg, #5f1f62, #111111); */
  /* background-image: url(); */
  position: absolute;
  border-radius: 15px;
  z-index: 1;
}

.section-2 .phone-header {
  height: 10%;
  /* background-color: lightcoral; */
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 25px;
  gap: 1%;
  position: relative;
  z-index: 2;
}

.section-2 .phone-header .first-div {
  height: 45%;
  width: 15%;
  /* background-color: lightslategray; */
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.section-2 .phone-header .second-div {
  height: 45%;
  width: 20%;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.section-2 .phone-header .third-div {
  height: 45%;
  width: 25%;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.section-2 .phone-header .first-div:hover,
.section-2 .phone-header .second-div:hover,
.section-2 .phone-header .third-div:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.section-2 .homePage-phone .phone-container-class {
  height: 90%;
  /* background-color: wheat; */
  overflow-y: auto;
  padding: 0 15px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 5%;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.section-2 .phone-container-class .playlists-container {
  height: 40%;
  /* background-color: lightskyblue; */
  margin-top: 1%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 5px;
  flex-shrink: 0;
}

.section-2 .phone-container-class .playlists-container > div {
  height: 100%;
  width: 100%;
  /* background-color: lightcoral; */
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  display: flex;
  cursor: pointer;
}

.section-2 .phone-container-class .playlists-container > div:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.section-2 .phone-container-class .playlists-container .div-1 .img {
  height: 100%;
  width: 50%;
  /* background-color: bisque; */
  background-image: url(assets/images/p1.jpg);
  background-size: cover;
  background-position: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.section-2 .phone-container-class .playlists-container > div .content {
  height: 100%;
  width: 70%;
  /* background-color: aqua; */
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.section-2 .phone-container-class .playlists-container > div .content .name {
  height: 100%;
  max-width: 100%;
  font-size: 10px;
  font-family: "poppins";
  /* font-weight: 550; */
  color: white;
  padding: 0 7px;
  display: flex;
  align-items: center;
}

.section-2 .phone-container-class .playlists-container .div-2 .img {
  height: 100%;
  width: 50%;
  /* background-color: bisque; */
  background-image: url(assets/images/p2.jpg);
  background-size: cover;
  background-position: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.section-2 .phone-container-class .playlists-container .div-3 .img {
  height: 100%;
  width: 50%;
  /* background-color: bisque; */
  background-image: url(assets/images/p3.jpg);
  background-size: cover;
  background-position: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.section-2 .phone-container-class .playlists-container .div-4 .img {
  height: 100%;
  width: 50%;
  /* background-color: bisque; */
  background-image: url(assets/images/p4.jpg);
  background-size: cover;
  background-position: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.section-2 .phone-container-class .playlists-container .div-5 .img {
  height: 100%;
  width: 50%;
  /* background-color: bisque; */
  background-image: url(assets/images/p5.jpg);
  background-size: cover;
  background-position: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.section-2 .phone-container-class .playlists-container .div-6 .img {
  height: 100%;
  width: 50%;
  /* background-color: bisque; */
  background-image: url(assets/images/p6.jpg);
  background-size: cover;
  background-position: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.section-2 .phone-container-class .playlists-container .div-7 .img {
  height: 100%;
  width: 50%;
  /* background-color: bisque; */
  background-image: url(assets/images/p7.jpg);
  background-size: cover;
  background-position: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.section-2 .phone-container-class .playlists-container .div-8 .img {
  height: 100%;
  width: 50%;
  /* background-color: bisque; */
  background-image: url(assets/images/p8.jpg);
  background-size: cover;
  background-position: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.phone-container-class .recently-played {
  height: 25%;
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
  flex-shrink: 0;
}

.phone-container-class .recently-played .recent-header {
  height: 25%;
  /* background-color: #5f1f62; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

.phone-container-class .recently-played .recent-header .left {
  height: 100%;
  width: 35%;
  /* background-color: #3b3b3b; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.phone-container-class .recently-played .recent-header .left h2 {
  font-size: 13px;
}

.phone-container-class .recently-played .recent-header .right {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #3b3b3b; */
  color: var(--light-dark-text-color);
  font-size: 13px;
}

.phone-container-class .recently-played .content-container {
  height: 75%;
  overflow-x: scroll;
  display: flex;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

.phone-container-class .recently-played .content-container > div {
  height: 100%;
  width: 35%;
  padding: 7px 5px;
  /* background-color: #5f1f62; */
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  transition: var(--trans-03);
  border-radius: 7px;
  cursor: pointer;
}

.phone-container-class .recently-played .content-container .playlist-1 .img {
  height: 85%;
  width: 95%;
  background-image: url(assets/images/p2.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 7px;
}

.phone-container-class .recently-played .content-container > div .content {
  height: 15%;
  width: 100%;
  /* background-color: aqua; */
  color: white;
  display: flex;
  align-items: center;
  font-size: 10px;
  padding: 0 5px;
}

.phone-container-class .recently-played .content-container .playlist-2 .img {
  height: 85%;
  width: 95%;
  background-image: url(assets/images/p3.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 7px;
}

.phone-container-class .recently-played .content-container .playlist-3 .img {
  height: 85%;
  width: 95%;
  background-image: url(assets/images/p4.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 7px;
}

.phone-container-class .recently-played .content-container .playlist-4 .img {
  height: 85%;
  width: 95%;
  background-image: url(assets/images/p5.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 7px;
}
.phone-container-class .recently-played .content-container .playlist-5 .img {
  height: 85%;
  width: 95%;
  background-image: url(assets/images/p6.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 7px;
}

.phone-container-class .recently-played .content-container > div :hover {
  background-color: var(--button-color02);
}

.phone-container-class .footer {
  height: fit-content;
  /* background-color: #5f1f62; */
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.phone-container-class .footer .foot {
  height: fit-content;
  width: 100%;
  padding: 2%;
}

.phone-container-class .footer .foot .line-1 {
  height: 0.5px;
  width: 100%;
  background-color: var(--button-hover-color);
}

.phone-container-class .footer .foot .line-2 {
  height: 0.5px;
  width: 100%;
  background-color: var(--button-hover-color);
}

.phone-container-class .footer .foot .content-1 {
  height: fit-content;
  width: 100%;
  display: flex;
  /* background-color: #5f1f62; */
  /* grid-template-columns: repeat(5, 1fr); */
  flex-direction: column;
  margin: 8% 0;
  color: var(--light-dark-text-color);
}

.phone-container-class .footer .foot .content-1 > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  margin-bottom: 20px;
}

.phone-container-class .footer .foot .content-1 .col-5 {
  display: flex;
  flex-direction: row;
}

/* .phone-container-class .footer .foot .content-1 .col-5 div:nth-child(1) {
  height: 20px;
  width: 20px;
  /* background-color: #5f1f62;
  background-color: var(--button-hover-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.phone-container-class .footer .foot .content-1 .col-5 > div svg {
  height: 15px;
  width: 15px;
  filter: invert(1);
}

.phone-container-class .footer .foot .content-1 .col-5 > div {
  height: 30px;
  width: 30px;
  /* background-color: #5f1f62; */
  background-color: var(--button-hover-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
.phone-container-class .footer .foot .content-1 .col-5 div:nth-child(2) svg {
  height: 10px;
  width: 10px;
  filter: invert(1);
} */

/* .phone-container-class .footer .foot .content-1 .col-5 div:nth-child(3) {
  height: 20px;
  width: 20px;
  background-color: #5f1f62; 
  background-color: var(--button-hover-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* .phone-container-class .footer .foot .content-1 .col-5 div:nth-child(3) svg {
  height: 10px;
  width: 10px;
  filter: invert(1);
} */

.phone-container-class .footer .foot .content-1 .col-5 div:nth-child(1):hover,
.phone-container-class .footer .foot .content-1 .col-5 div:nth-child(2):hover,
.phone-container-class .footer .foot .content-1 .col-5 div:nth-child(3):hover {
  background-color: var(--light-dark-text-color02);
}

.phone-container-class .footer .foot .content-1 > div p {
  height: 10%;
  width: 95%;
  color: rgba(200, 200, 200, 0.7);
  font-size: 13px;
  /* font-weight: 550; */
  /* background-color: #5f1f62; */
}

.phone-container-class .footer .foot .content-1 > div span {
  height: 15%;
  width: 90%;
  font-size: 13px;
  cursor: pointer;
  color: white;
  /* background-color: #5f1f62; */
}

.phone-container-class .footer .foot .content-1 span:hover {
  text-decoration: underline;
  color: rgba(200, 200, 200, 0.7);
}

.phone-container-class .footer .foot .content-2 {
  height: fit-content;
  display: flex;
  margin: 5% 0;
  color: var(--light-dark-text-color);
  font-size: 8px;
}

.phone-container-class .footer .foot .content-2 .content {
  display: flex;
  width: 95%;
}

.phone-container-class .footer .foot .content-2 .content span {
  display: block;
  width: 15%;
  font-size: 10px;
}

.phone-container-class .footer .foot .content-2 span:hover {
  color: white;
  cursor: pointer;
}