.section-2 .page-2-phone {
  height: 100%;
  width: 100%;
}

.section-2 .page-2-phone .phone-header-container2 .img {
  height: 80%;
  width: 40%;
  /* background-color: aqua; */
  margin-right: 2%;
  background-image: url(assets/images/p2.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
}

.section-2 .phone-header-container2 .content h1 {
  height: 30%;
  font-size: 20px;
}

.section-2 .page-2-phone .phone-header-container2 .bg {
  height: 16%;
  width: 83%;
  background: linear-gradient(180deg, #cccf13, #111111);
  position: absolute;
  border-radius: 15px;
  z-index: 1;
}
