.section-2 .page-2-phone {
  height: 100%;
  width: 100%;
}

.section-2 .phone-header-container2 {
  height: 25%;
  /* background-color: #cfcfcf; */
  padding: 0 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-2 .page-2-phone .phone-header-container2 .img {
  height: 80%;
  width: 45%;
  background-color: aqua;
  margin-right: 2%;
  background-image: url(images/liked.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
}

.section-2 .phone-header-container2 .content {
  height: 80%;
  width: 55%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  position: relative;
  z-index: 2;
}

.section-2 .phone-header-container2 .content span {
  height: 15%;
  width: 100%;
  font-size: 13px;
}

.section-2 .phone-header-container2 .content h1 {
  height: 30%;
  font-size: 25px;
}

.section-2 .phone-header-container2 .content div {
  height: 15%;
}

.section-2 .phone-header-container2 .content div > :nth-child(2) {
  color: var(--dark-text-color);
  font-size: 13px;
}

.section-2 .page-2-phone .phone-header-container2 .bg {
  height: 40%;
  width: 100%;
  background: linear-gradient(180deg, #3754ac, #111111);
  position: absolute;
  border-radius: 15px;
  z-index: 1;
  top: 0;
}

.section-2 .phone-header-function {
  height: 10%;
  padding: 0 2%;
  /* background-color: #1f3062; */
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.section-2 .phone-header-function .left {
  height: 100%;
  width: 45%;
  /* background-color: #aeaeae; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-2 .phone-header-function .left .play-pause {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: rgb(0, 200, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-2 .phone-header-function .left .play-pause:hover {
  transform: scale(1.05);
}

.section-2 .phone-header-function .left .play-pause svg {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  color: black;
}

.section-2 .phone-header-function .left .play-pause:hover svg,
.section-2 .phone-header-function .left .download:hover svg,
.section-2 .phone-header-function .left .invite:hover svg,
.section-2 .phone-header-function .left .options:hover svg {
  opacity: 0.9;
}

.section-2 .phone-header-function .left .download svg {
  height: 20px;
  width: 20px;
  filter: invert(1);
  opacity: 0.6;
  transition: var(--trans-02);
}

.section-2 .phone-header-function .left .invite svg {
  height: 20px;
  width: 20px;
  filter: invert(1);
  opacity: 0.6;
  transition: var(--trans-02);
}

.section-2 .phone-header-function .left .options svg {
  height: 20px;
  width: 20px;
  filter: invert(1);
  opacity: 0.6;
  transition: var(--trans-02);
}

.section-2 .phone-header-function .right {
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--light-text-color);
  opacity: 0.6;
  transition: var(--trans-02);
}
.section-2 .phone-header-function .right svg {
  height: 12px;
  width: 12px;
  filter: invert(1);
}

.section-2 .phone-header-function .right:hover {
  opacity: 0.9;
}

.section-2 .phone-header-row {
  height: 10%;
  display: flex;
  align-items: center;
  padding: 2%;
  /* background-color: brown; */
  color: white;
  position: relative;
  z-index: 2;
  font-size: 13px;
}

.section-2 .phone-header-row .hash {
  height: 100%;
  width: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(42, 165, 73); */
}
.section-2 .phone-header-row .title {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: start;
  /* background-color: rgb(65, 42, 165); */
}

.section-2 .phone-header-row .album {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: start;
  /* background-color: rgb(157, 165, 42); */
}

.section-2 .phone-header-row .added-date {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: start;
  /* background-color: rgb(42, 128, 165); */
}

.section-2 .phone-header-row .duration {
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: start;
  /* background-color: rgb(116, 42, 165); */
}

.section-2 .phone-header-row .duration svg {
  height: 15px;
  width: 15px;
  filter: invert(1);
}

.section-2 .line {
  height: 0.3px;
  width: 90%;
  background-color: var(--button-hover-color);
  border-radius: 5px;
  margin-left: 3%;
}

.section-2 .phone-songs-container {
  height: max-content;
  width: 96%;
  /* background-color: chartreuse; */
  color: white;
  margin: 2%;
  font-size: 10px;
}

.section-2 .phone-songs-container .song-1,
.section-2 .phone-songs-container .song-2,
.section-2 .phone-songs-container .song-3,
.section-2 .phone-songs-container .song-4,
.section-2 .phone-songs-container .song-5,
.section-2 .phone-songs-container .song-6,
.section-2 .phone-songs-container .song-7 {
  height: 7vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 3%;
  font-size: 12px;
  transition: var(--trans-02);
  border-radius: 5px;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.section-2 .phone-songs-container .song-1 .num,
.section-2 .phone-songs-container .song-2 .num,
.section-2 .phone-songs-container .song-3 .num,
.section-2 .phone-songs-container .song-4 .num,
.section-2 .phone-songs-container .song-5 .num,
.section-2 .phone-songs-container .song-6 .num,
.section-2 .phone-songs-container .song-7 .num {
  height: 100%;
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-2 .phone-songs-container .song-1 .cover,
.section-2 .phone-songs-container .song-2 .cover,
.section-2 .phone-songs-container .song-3 .cover,
.section-2 .phone-songs-container .song-4 .cover,
.section-2 .phone-songs-container .song-5 .cover,
.section-2 .phone-songs-container .song-6 .cover,
.section-2 .phone-songs-container .song-7 .cover {
  height: 80%;
  width: 15%;
  /* background-image: url(covers/song1.jpeg); */
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.section-2 .phone-songs-container .song-1 .song-details,
.section-2 .phone-songs-container .song-2 .song-details,
.section-2 .phone-songs-container .song-3 .song-details,
.section-2 .phone-songs-container .song-4 .song-details,
.section-2 .phone-songs-container .song-5 .song-details,
.section-2 .phone-songs-container .song-6 .song-details,
.section-2 .phone-songs-container .song-7 .song-details {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 3%;
}

.section-2 .phone-songs-container .song-1 .song-details .song-name,
.section-2 .phone-songs-container .song-2 .song-details .song-name,
.section-2 .phone-songs-container .song-3 .song-details .song-name,
.section-2 .phone-songs-container .song-4 .song-details .song-name,
.section-2 .phone-songs-container .song-5 .song-details .song-name,
.section-2 .phone-songs-container .song-6 .song-details .song-name,
.section-2 .phone-songs-container .song-7 .song-details .song-name {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.section-2 .phone-songs-container .song-1 .song-details .song-artist,
.section-2 .phone-songs-container .song-2 .song-details .song-artist,
.section-2 .phone-songs-container .song-3 .song-details .song-artist,
.section-2 .phone-songs-container .song-4 .song-details .song-artist,
.section-2 .phone-songs-container .song-5 .song-details .song-artist,
.section-2 .phone-songs-container .song-6 .song-details .song-artist,
.section-2 .phone-songs-container .song-7 .song-details .song-artist {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.section-2 .phone-songs-container .song-1 .name,
.section-2 .phone-songs-container .song-2 .name,
.section-2 .phone-songs-container .song-3 .name,
.section-2 .phone-songs-container .song-4 .name,
.section-2 .phone-songs-container .song-5 .name,
.section-2 .phone-songs-container .song-6 .name,
.section-2 .phone-songs-container .song-7 .name {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 3%;
  font-size: 10px;
  color: var(--dark-text-color);
}

.section-2 .phone-songs-container .song-1 .date,
.section-2 .phone-songs-container .song-2 .date,
.section-2 .phone-songs-container .song-3 .date,
.section-2 .phone-songs-container .song-4 .date,
.section-2 .phone-songs-container .song-5 .date,
.section-2 .phone-songs-container .song-6 .date,
.section-2 .phone-songs-container .song-7 .date {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 3%;
  font-size: 10px;
  color: var(--dark-text-color);
}

.section-2 .phone-songs-container .song-1 .duration,
.section-2 .phone-songs-container .song-2 .duration,
.section-2 .phone-songs-container .song-3 .duration,
.section-2 .phone-songs-container .song-4 .duration,
.section-2 .phone-songs-container .song-5 .duration,
.section-2 .phone-songs-container .song-6 .duration,
.section-2 .phone-songs-container .song-7 .duration {
  height: 100%;
  width: 13%;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 10px;
  color: var(--dark-text-color);
}

.section-2 .phone-songs-container .song-1:hover,
.section-2 .phone-songs-container .song-2:hover,
.section-2 .phone-songs-container .song-3:hover,
.section-2 .phone-songs-container .song-4:hover,
.section-2 .phone-songs-container .song-5:hover,
.section-2 .phone-songs-container .song-6:hover,
.section-2 .phone-songs-container .song-7:hover {
  background-color: rgba(63, 63, 63, 0.493);
}

.phone-footer {
  height: 30vh;
  /* background-color: #5f1f62; */
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.phone-footer .foot {
  height: 90%;
  width: 100%;
  padding: 2%;
}

.phone-footer .foot .line-1 {
  height: 0.5px;
  width: 100%;
  background-color: var(--button-hover-color);
}

.phone-footer .foot .line-2 {
  height: 0.5px;
  width: 100%;
  background-color: var(--button-hover-color);
}

.phone-footer .foot .content-1 {
  height: 70%;
  width: 100%;
  display: grid;
  /* background-color: #5f1f62; */
  grid-template-columns: repeat(5, 1fr);
  margin: 7% 0;
  color: var(--light-dark-text-color);
  column-gap: 5px;
}

.phone-footer .foot .content-1 .col-1,
.phone-footer .foot .content-1 .col-2,
.phone-footer .foot .content-1 .col-3,
.phone-footer .foot .content-1 .col-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7%;
}

.phone-footer .foot .content-1 .col-5 {
  display: flex;
  gap: 3%;
}

.phone-footer .foot .content-1 .col-5 div:nth-child(1) {
  height: 20px;
  width: 20px;
  /* background-color: #5f1f62; */
  background-color: var(--button-hover-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-footer .foot .content-1 .col-5 div:nth-child(1) svg {
  height: 10px;
  width: 10px;
  filter: invert(1);
}

.phone-footer .foot .content-1 .col-5 div:nth-child(2) {
  height: 20px;
  width: 20px;
  /* background-color: #5f1f62; */
  background-color: var(--button-hover-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-footer .foot .content-1 .col-5 div:nth-child(2) svg {
  height: 10px;
  width: 10px;
  filter: invert(1);
}

.phone-footer .foot .content-1 .col-5 div:nth-child(3) {
  height: 20px;
  width: 20px;
  /* background-color: #5f1f62; */
  background-color: var(--button-hover-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone-footer .foot .content-1 .col-5 div:nth-child(3) svg {
  height: 10px;
  width: 10px;
  filter: invert(1);
}

.phone-footer .foot .content-1 .col-5 div:nth-child(1):hover,
.phone-footer .foot .content-1 .col-5 div:nth-child(2):hover,
.phone-footer .foot .content-1 .col-5 div:nth-child(3):hover {
  background-color: var(--light-dark-text-color02);
}

.phone-footer .foot .content-1 .col-1 p,
.phone-footer .foot .content-1 .col-2 p,
.phone-footer .foot .content-1 .col-3 p,
.phone-footer .foot .content-1 .col-4 p {
  height: 10%;
  width: 95%;
  color: white;
  font-size: 8px;
  font-weight: 550;
  /* background-color: #5f1f62; */
}

.phone-footer .foot .content-1 .col-1 span,
.phone-footer .foot .content-1 .col-2 span,
.phone-footer .foot .content-1 .col-3 span,
.phone-footer .foot .content-1 .col-4 span {
  height: 15%;
  width: 90%;
  font-size: 8px;
  cursor: pointer;
  /* background-color: #5f1f62; */
}

.phone-footer .foot .content-1 span:hover {
  text-decoration: underline;
  color: white;
}

.phone-footer .foot .content-2 {
  height: 10%;
  display: flex;
  margin: 5% 0;
  color: var(--light-dark-text-color);
  gap: 3%;
  font-size: 7px;
}

.phone-footer .foot .content-2 span {
  height: 75%;
  width: 10%;
}

.phone-footer .foot .content-2 span:nth-child(2),
.phone-footer .foot .content-2 span:nth-child(6),
.phone-footer .foot .content-2 p {
  height: 100%;
  width: 15%;
}

.phone-footer .foot .content-2 span:hover {
  color: white;
  cursor: pointer;
}