.section-2 .page-2-phone {
  height: 100%;
  width: 100%;
}

.section-2 .page-2-phone .phone-header-container2 .img {
  height: 80%;
  width: 45%;
  /* background-color: aqua; */
  margin-right: 2%;
  background-image: url(assets/images/chill\ and\ relax.webp);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
}

.section-2 .phone-header-container2 .content h1 {
  height: 30%;
  font-size: 19px;
}

.section-2 .page-2-phone .phone-header-container2 .bg {
  height: 40%;
  width: 100%;
  background: linear-gradient(180deg, #c8ca4d, #111111);
  position: absolute;
  border-radius: 15px;
  z-index: 1;
  top: 0;
}
