.section-3 .sec3-header {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: aqua; */
}

.section-3 .sec3-header .first {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: blue; */
}

.section-3 .sec3-header .first .hide-btn {
  height: 35px;
  width: 40px;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
}

.section-3 .sec3-header svg {
  filter: invert(1);
  height: 17px;
  width: 17px;
}

.section-3 .sec3-header .first .name {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 15px;
  color: white;
  padding-left: 10px;
  font-weight: bold;
  /* background-color: blueviolet; */
}

.section-3 .sec3-header .first .name:hover {
  text-decoration: underline;
}

.section-3 .sec3-header .second {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: blue; */
}

.section-3 .sec3-header .second .more {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
}

.section-3 .sec3-header .second .expand {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
}

.section-3 .sec3-header .first .hide-btn:hover, .section-3 .sec3-header .second > div:hover {
  background-color: var(--button-color02);
}

.section-3 .banner {
  height: 50%;
  width: 100%;
  /* background-color: var(--button-color); */
  padding: 17px;
}

.section-3 .banner .img {
  height: 100%;
  width: 100%;
  background-image: url(assets/images/default\ song\ cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 7px;
}

.section-3 .song-detail {
  height: 10%;
  width: 100%;
  /* background-color: brown; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.section-3 .song-detail svg {
  filter: invert(1);
}

.section-3 .song-detail .first {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  /* align-items: center;
  justify-content: center; */
  /* background-color: bisque; */
}

.section-3 .song-detail .first .name {
  height: 50%;
  width: fit-content;
  font-size: 20px;
  font-weight: bolder;
  display: inline-block;
  padding-left: 5%;
  /* font-family: "Poppins", sans-serif; */
}

.scrolling {
  animation: scrollText 7s linear infinite;
}

.section-3 .song-detail .first .artist {
  height: 50%;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  padding-left: 5%;
  /* font-family: "Poppins", sans-serif; */
  color: var(--dark-text-color);
}

.section-3 .song-detail .second {
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section-3 .song-detail .second .download {
  height: 17px;
  width: 17px;
  opacity: 0.7;
  display: none;
}

.section-3 .song-detail .second .verify {
  height: 15px;
  width: 15px;
  fill: purple;
}

.section-3 .song-detail .second .download:hover {
  opacity: 1;
}

.section-3:hover .sec3-header .first .hide-btn,
.section-3:hover .sec3-header .second .expand,
.section-3:hover .sec3-header .second .more,
.section-3:hover .song-detail .second .download {
  display: flex;
}