@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:wght@500&display=swap");

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

:root {
  --body-color: #000000;
  --button-hover-color: #3b3b3b;
  --section-color: #111111;
  --button-color: #1f1f1f;
  --button-color02: #2f2f2f;
  --light-text-color: #cfcfcf;
  --dark-text-color: #afafaf;
  --light-dark-text-color: #aeaeae;
  --light-dark-text-color02: #7c7c7c;

  --trans-02: all 0.2s ease;
  --trans-03: all 0.3s ease;
  --trans-04: all 0.4s ease;
  --trans-05: all 0.5s ease;
}

body {
  background-color: var(--body-color);
  height: 100vh;
  width: 100vw;
  height: calc(100vw * 0.5625);
  overflow: hidden;
}

.header {
  height: 8vh;
  /* background-color: darkkhaki; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;
  gap: 1%;
}

/* header */

.main {
  height: 80vh;
  display: grid;
  grid-template-columns: var(--section-1-width, 0.7fr) 0.001fr 1.7fr 0.001fr 0.6fr;
  grid-template-rows: 100%;
  gap: 1vmin;
  margin: 0 1vmin;
  overflow: hidden;
}

.section-1 {
  background-color: var(--section-color);
  border-radius: 25px;
  transition: var(--trans-03);
}

.section-2 {
  background-color: var(--section-color);
  border-radius: 20px;
  position: relative;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

.section-3 {
  background-color: var(--section-color);
  border-radius: 20px;
  padding: 0 10px;
  flex-grow: none;
}

/* section-3 styling */

.section-3 .sec3-header {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: aqua; */
}

.section-3 .sec3-header .first {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: blue; */
}

.section-3 .sec3-header .first .hide-btn {
  height: 17px;
  width: 17px;
}

.section-3 .sec3-header svg {
  filter: invert(1);
}

.section-3 .sec3-header .first .name {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 15px;
  color: white;
  padding-left: 10px;
  font-weight: bold;
  /* background-color: blueviolet; */
}

.section-3 .sec3-header .first .name:hover {
  text-decoration: underline;
}

.section-3 .sec3-header .second {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: blue; */
}

.section-3 .sec3-header .second .more {
  height: 17px;
  width: 17px;
}

.section-3 .sec3-header .second .expand {
  height: 17px;
  width: 17px;
}

.section-3 .banner {
  height: 50%;
  width: 100%;
  /* background-color: var(--button-color); */
  padding: 17px;
}

.section-3 .banner .img {
  height: 100%;
  width: 100%;
  background-image: url("assets/images/play\ song.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 7px;
}

.section-3 .song-detail {
  height: 10%;
  width: 100%;
  /* background-color: brown; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.section-3 .song-detail svg {
  filter: invert(1);
}

.section-3 .song-detail .first {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  /* align-items: center;
  justify-content: center; */
  /* background-color: bisque; */
}

.section-3 .song-detail .first .name {
  height: 50%;
  width: fit-content;
  font-size: 20px;
  font-weight: bolder;
  display: inline-block;
  padding-left: 5%;
  /* font-family: "Poppins", sans-serif; */
}

.scrolling {
  animation: scrollText 7s linear infinite;
}

.section-3 .song-detail .first .artist {
  height: 50%;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  padding-left: 5%;
  /* font-family: "Poppins", sans-serif; */
  color: var(--dark-text-color);
}

.section-3 .song-detail .second {
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section-3 .song-detail .second .download {
  height: 17px;
  width: 17px;
  opacity: 0.7;
}

.section-3 .song-detail .second .verify {
  height: 15px;
  width: 15px;
  fill: purple;
}

.section-3 .song-detail .second .download:hover {
  opacity: 1;
}

.section-3:hover .hide-btn, .section-3:hover .expand, .section-3:hover .more, .section-3:hover .download {
  display: flex;
}







.resize {
  width: 2px;
  cursor: ew-resize;
  background: var(--light-dark-text-color02);
  border-radius: 50%;
}

/* section-1 */

/* section-2-Page-1 */

.footer-page {
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 0.5%;
}

/* footer-page */

/* section-2-Page-2 */

/* section-2-Phone-Page-1 */

/* section-2-Phone-Page-2 */



@keyframes scrollText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}