@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:wght@500&display=swap");

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

:root {
  --body-color: #000000;
  --button-hover-color: #3b3b3b;
  --section-color: #111111;
  --button-color: #1f1f1f;
  --button-color02: #2f2f2f;
  --light-text-color: #cfcfcf;
  --dark-text-color: #afafaf;
  --light-dark-text-color: #aeaeae;
  --light-dark-text-color02: #7c7c7c;

  --trans-02: all 0.2s ease;
  --trans-03: all 0.3s ease;
  --trans-04: all 0.4s ease;
  --trans-05: all 0.5s ease;
}

body {
  background-color: var(--body-color);
  height: 100vh;
  width: 100vw;
  height: calc(100vw * 0.5625);
  overflow: hidden;
}

.header {
  height: 8vh;
  /* background-color: darkkhaki; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;
  gap: 1%;
}

/* header */

.main {
  height: 80vh;
  display: grid;
  grid-template-columns: var(--section-1-width, 0.7fr) 0.001fr 1.7fr 0.001fr 0.6fr;
  grid-template-rows: 100%;
  gap: 1vmin;
  margin: 0 1vmin;
  overflow: hidden;
}

.section-1 {
  background-color: var(--section-color);
  border-radius: 25px;
  transition: var(--trans-03);
}

.section-2 {
  background-color: var(--section-color);
  border-radius: 20px;
  position: relative;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

.section-3 {
  background-color: var(--section-color);
  border-radius: 20px;
  padding: 0 10px;
  flex-grow: none;
}

/* section-3 */

.resize {
  width: 2px;
  cursor: ew-resize;
  background: var(--light-dark-text-color02);
  border-radius: 50%;
}

/* section-1 */

/* section-2-Page-1 */

.footer-page {
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 0.5%;
}

/* footer-page */

/* section-2-Page-2 */

/* section-2-Phone-Page-1 */

/* section-2-Phone-Page-2 */



@keyframes scrollText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes rotatePhone {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -90deg;
  }
}

@keyframes textBg {
  0% {
    box-shadow: 0 0 5px white;
  }
  100% {
    box-shadow: 0 0 25px white;
  }
}

#rotate-warning {
  position: fixed;
  inset: 0;
  background: #000;
  color: #fff;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  z-index: 9999;
  display: flex;
  flex-direction: column;
}

#rotate-warning img {
  height: 30vmin;
  width: 50vmin;
  background-size: cover;
  animation: rotatePhone 1s linear none infinite ;
}

#rotate-warning .text {
  height: 30px;
  width: 200px;
  margin-top: 10%;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: textBg 1s linear none infinite ;
}